@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow-x: none;
}

@font-face {
  font-family: nrt-reg-font;
  src: url("assets/fonts/NRT-Reg.ttf");
}

body {
  font-family: nrt-reg-font;
}

.mainShadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body.modal-active {
  overflow-y: hidden;
}

@media (max-width: 912px) {
  .cart {
    display: none;
  }

  .orders {
    display: none;
  }

  .cart-text {
    font-size: 16px;
  }

  .user-cart-balance {
    font-size: 16px;
  }
}

@media (min-width: 913px) {
  .cart-products {
    display: none;
  }

  .product-orders {
    display: none;
  }
}

@media (max-width: 948px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 20px;
  }

  .newestProducts {
    padding-top: 2px;
  }
}

@media (max-width: 973px) {
  .product {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    gap: 20px;
  }

  .product-images {
    display: flex;
    flex-direction: column-reverse;
    justify-content:  center;
    align-items: center;
    gap: 20px;
  }

  .product-right-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }
}

@media (max-width: 662px) {
  .balance-order-card {
    width: 250px;
  }
}

@media (max-width: 650px) {
  .user-profile-info {
    width: 250px;
    height: 100px;
  }

  .user-wish-list {
    width: 250px;
  }

  .user-wish-list-product-image {
    height: 150px;
  }

  .user-wish-list-add-to-cart-btn {
    width: 200px;
    gap: 1px;
  }
}

@media (max-width: 577px) {
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .address-card {
    width: 200px;
  }
}

@media (max-width: 555px) {
  .balance-orders {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .user-profile-info {
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 510px) {
  .add-review {
    width: 95%;
  }

  .edit-review {
    width: 95%;
  }

  .product-order-summary {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: end;
    align-items: end;
  }
}

@media (max-width: 460px) {
  .auth {
    width: 95%;
  }

  .auth-input-and-btn {
    width: 90%;
  }

  .forgot-password-back-btn {
    font-size: 16px;
  }

  .forgot-password-text {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .user-profile-info {
    width: 250px;
    height: 100px;
  }
}

@media (max-width: 410px) {
  .add-balance {
    width: 95%;
  }

  .add-balance-btn {
    width: 100%;
  }

  .add-address {
    width: 95%;
  }

  .add-address-btn {
    width: 100%;
  }

  .edit-address {
    width: 95%;
    height: auto;
  }

  .edit-address-btn {
    width: 100%;
  }

  .edit-profile {
    width: 95%;
    height: auto;
  }

  .edit-profile-input {
    width: 90%;
  }

  .edit-profile-btn {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .cart-total-price {
    font-size: 14px;
  }

  .product-image {
    height: 50px;
  }
}

@media (max-width: 355px) {
  .payment-method {
    width: 95%;
    height: auto;
    padding: 5px;
  }

  .payment-method-input {
    width: 90%;
  }

  .payment-method-btn {
    width: 90%;
  }
}

@media (max-width: 318px) {
  .user-cart-balance {
    display: none;
  }

  .user-cart-balance-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
}

@media (min-width: 318px) {
  .user-cart-balance-text {
    display: none;
  }
}